<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Find a recipe!</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="fr.ico">
<link rel="stylesheet" href="styles.59b5e6268478f593478b.css"></head>

<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.ec2944dd8b20ec099bf3.js"></script><script type="text/javascript" src="polyfills.f6ae3e8b63939c618130.js"></script><script type="text/javascript" src="main.49ee8af75e801361f4fc.js"></script></body>

</html>
